ejemplo-#1/holaOllama
ejemplo-#1/pruebaSerial
ejemplo-#1/chat-Bluetooth Device Pairing Success.md
ejemplo-#1/pruevaRecibirInfo.py
ejemplo-#2/NodeJs/node_modules
*.properties
*.autosave
ejemplo-#3/.env
